
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink = "/">Expense Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="add_expense">Add Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="display_expense">View All Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="filter_expense">Edit/Delete Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="ng-prime">AG Grid</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> 
 

<!-- <header>
    <nav class="custom-navbar">
        <div class="navbar-container">
            <a class="brand-logo" href="/">Expense Tracker</a>
            <button class="toggle-button" onclick="toggleNavbar()">☰</button>
            <div class="navbar-links">
                <ul>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/add_expense">Add Expense</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/display_expense">View All Expenses</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/filter_expense">Edit/Delete Expense</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->

<router-outlet/>