:host {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
  width: 100%;   
}

.ag-theme-quartz-dark {
  width: 50.2%;            
  height: 71%;           
  --ag-row-hover-color: rgb(132, 134, 141);

}
